oracle_integration/target/META-INF/mule-src/vems-mule-oracle-sapi/src/main/mule/implementation/ess-job-run.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="post:\ess-job\run:application\json:vems-mule-oracle-sapi-config">
        <json-logger:logger doc:name="Start of ess-job-run flow" doc:id="38d707dd-3f9f-4f3b-aad9-8b1aaaf70de8" config-ref="jsonLoggerConfig" message="Start of ess-job-run flow" />
		<json-logger:logger doc:name="Before of ess-job-run request Building" doc:id="ad0f4c3c-f11a-4f03-8973-9ac5e1d1ed44" config-ref="jsonLoggerConfig" message="Before of ess-job-run request Building" tracePoint="BEFORE_TRANSFORM" />
		<ee:transform doc:name="Request Building" doc:id="bd0c9e69-1fbb-414e-a1b3-01c5aea9320b" >
			<ee:message >
				<ee:set-payload resource="dw/ess-job-run-request-transformatrion.dwl" />
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="After of ess-job-run request Building" doc:id="7bfd7adb-d942-41d1-8183-9c9df07edb13" config-ref="jsonLoggerConfig" message="After of ess-job-run request Building" tracePoint="AFTER_TRANSFORM" />
		<try doc:name="Try" doc:id="d5a1f06a-60a5-4ef7-ae22-355df2e503a6">
			<json-logger:logger doc:name="Before of ess-job-run Web Service call" doc:id="fc8af4a8-d8bd-479e-a556-8371729cdcab" config-ref="jsonLoggerConfig" message="Before of ess-job-run Web Service call" tracePoint="BEFORE_REQUEST" />
			<http:request method="POST" doc:name="Call to ess-job-run Operatrion" doc:id="84aaaea7-4062-4bbb-85aa-e75bba196d23" config-ref="HTTP_Request_configuration_SOAP-Api" path="${app.oracle.api.fscmServicePath}" outputMimeType="multipart/mixed">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml"
}]]]></http:headers>
			</http:request>
			<json-logger:logger doc:name="End of ess-job-run Web Service call" doc:id="1a003a65-17c5-4d67-9049-55a7a56d13d3" config-ref="jsonLoggerConfig" message="End of ess-job-run Web Service call" tracePoint="AFTER_REQUEST" />
			<choice doc:name="Choice" doc:id="40253ea1-b6d3-41d8-b9a8-b3e1b1daf15b">
				<when expression="#[attributes.statusCode==200]">
					<ee:transform doc:name="Response Building" doc:id="2035ed49-0736-4ce6-9b06-6234d5224fac">
						<ee:message>
							<ee:set-payload resource="dw/ess-job-run-response-transformatrion.dwl" />
						</ee:message>
					</ee:transform>
				</when>
				<otherwise>
					<flow-ref doc:name="improveErrorMessage" doc:id="6a3fde7d-bf0f-4778-8214-9764a3654039" name="improveErrorMessage"/>
					<set-variable value="#[vars.responseAttributes.statusCode as Number]" doc:name="httpStatus" doc:id="808c1458-5aa0-47eb-a379-27a3bc9eadc9" variableName="httpStatus" />
				</otherwise>
			</choice>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5846d76c-06c9-43cd-85b2-b22dad38b509" >
					<flow-ref doc:name="improveErrorMessage" doc:id="5b0b9efd-72bc-4472-bc26-bba9819a0d28" name="improveErrorMessage" />
				</on-error-propagate>
			</error-handler>
		</try>
		<json-logger:logger doc:name="End of ess-job-run flow" doc:id="57fbdb09-dc19-47b6-8e6a-603e3cb3625b" config-ref="jsonLoggerConfig" message="Start of ess-job-run flow" tracePoint="END" />
    </flow>	
</mule>
