oracle_integration/target/META-INF/mule-src/vems-mule-oracle-sapi/src/main/mule/implementation/payment-transaction-external-report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
<flow name="get:\external-report\payment-transactions:vems-mule-oracle-sapi-config">
		<json-logger:logger doc:name="Start of get-payment-transactions-external-report flow" doc:id="3c540e38-f231-41e0-af66-a0c12c073846" config-ref="jsonLoggerConfig" message="Start of get-payment-transactions-external-report flow">
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    'supplier-id': attributes.uriParams.'supplier-id'
}]]]></json-logger:content>
		</json-logger:logger>
		<json-logger:logger doc:name="Set variables for external-report oracle call" doc:id="e52f75cf-d2e4-4958-9b82-f3867fbc3bae" config-ref="jsonLoggerConfig" message="Set variables for external-report oracle call" />
		<ee:transform doc:name="set variables for oracle call" doc:id="819cbdc7-08ac-4a36-9c15-6c477ebb701f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="loadReqId"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'load-req-id']]></ee:set-variable>
				<ee:set-variable variableName="importReqId"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.'import-req-id']]></ee:set-variable>
				<ee:set-variable variableName="reportAbsolutePath"><![CDATA[%dw 2.0
output application/java
---
if(attributes.queryParams.'operation'== "AR") "/Custom/Interface Extracts/AR Invoice Execution Report.xdo" 
else "/Custom/Interface Extracts/AP Invoice Execution Report.xdo"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="payment-transactions-oracle-report-service" doc:id="6e60e99f-56ff-4dca-bcd5-582f9f5246ce" name="payment-transactions-oracle-report-service" />
		<ee:transform doc:name="base64 to Json" doc:id="13d50e06-0631-44e4-bc6f-aff0e65766da" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries 
output application/json
---
read(fromBase64(payload.Envelope.Body.runReportResponse.runReportReturn.reportBytes),'application/csv')]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="End of get-payment-transactions-external-report flow" doc:id="d3abb06f-8136-4b21-adda-ba507f3c441e" config-ref="jsonLoggerConfig" message="End of get-payment-transactions-external-report flow" tracePoint="END" />
    </flow>
</mule>
