oracle_integration/target/META-INF/mule-src/vems-mule-oracle-sapi/src/main/mule/implementation/supplier-external-report.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="get:\external-report\supplier\(supplier-id):vems-mule-oracle-sapi-config">
    	<json-logger:logger doc:name="Start of get-external-report flow" doc:id="e3cd4176-156a-442d-9d82-c8fcc24aec35" config-ref="jsonLoggerConfig" message="Start of get-external-report flow">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    'supplier-id': attributes.uriParams.'supplier-id'
}]]]></json-logger:content>
		</json-logger:logger>
		<ee:transform doc:name="set variables for oracle call" doc:id="4cb5fa66-e2ab-44aa-8109-d6e381f65592" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="pubItemName" ><![CDATA[%dw 2.0
output application/java
---
"p_legacy_no"]]></ee:set-variable>
				<ee:set-variable variableName="pubItemValue" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'supplier-id']]></ee:set-variable>
				<ee:set-variable variableName="reportAbsolutePath" ><![CDATA[%dw 2.0
output application/java
---
"/Custom/Interface Extracts/Supplier Master Report.xdo"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="oracle-report-service-call" doc:id="ad6080b6-6b0f-4416-85e1-59566eecf49b" name="oracle-report-service-call"/>
		<set-payload value="#[output application/xml&#10;import dw::supplierExternalReport&#10;---&#10;supplierExternalReport::convertBase64toXml(payload.Envelope.Body.runReportResponse.runReportReturn.reportBytes)]" doc:name="Convert Base64 to XML" doc:id="f81a2927-3149-4724-8103-388b7e1857ee" />
		<set-payload value='#[output application/json duplicateKeyAsArray=true&#10;import dw::supplierExternalReport&#10;---&#10;supplierExternalReport::convertXmlToJson(payload.DATA_DS)]' doc:name="Convert XML to JSON" doc:id="f72afcb6-d7b2-4ea2-bddf-31596392b726" />
				<set-payload value='#[%dw 2.0&#10;output application/json skipNullOn="everywhere"&#10;import dw::supplierExternalReport&#10;---&#10;supplierExternalReport::mapSupplierResponse(payload)]' doc:name="map Supplier response" doc:id="bc7c1d41-ece5-45f8-bdf9-796beb04506a" />
		<json-logger:logger doc:name="End of get-external-report flow" doc:id="88d0902c-2b95-4d43-bd22-694a882caf04" config-ref="jsonLoggerConfig" message="End of get-external-report flow" tracePoint="END"/>
    </flow>
    	

</mule>
