SystemAPI_SFCoreIntegration/target/classes/implementation/outbound-eventSnapshot-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="main-query-outboundEvent" doc:id="379dd113-3fca-4115-8e2f-99dd294ea9aa" >
		<json-logger:logger doc:name="Logger" doc:id="34f32412-1e87-480d-a70f-178c56f838b3" config-ref="jsonLoggerConfig" message='"Process Begin"' />
		<salesforce:query doc:name="Query" doc:id="b41bec34-f26d-4043-bbe2-1a1147c93dbe" config-ref="salesforceConfig" >
			<salesforce:salesforce-query ><![CDATA[SELECT Case__c,EventDtg__c,EventId__c,EventTypeID__c,ExamAppointmentId__c,ExamContentionId__c,ExamSchedulingRequestId__c,Id,ModelVersion__c,PEJson__c,PreviousEvent__c,SkipValidation__c,Status__c FROM OutboundEventSnapshot__c WHERE Status__c = 'ReadyToSend']]></salesforce:salesforce-query>
		</salesforce:query>
		<choice doc:name="" doc:id="bba75ad5-2a3c-403e-819b-5bea71c6e31a" >
			<when expression="#[!isEmpty(payload)]" >
				<ee:transform doc:name="Transform Message" doc:id="7978c62b-bb9e-4e21-8d25-42f2b4ef9ff6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="37e9e9f3-7e83-458e-8b20-e0136636e57a" config-ref="jsonLoggerConfig" message='#["Ending Process"]' tracePoint="AFTER_REQUEST"/>
			</when>
			<otherwise >
				<ee:transform doc:name="error payload" doc:id="717f9757-adb5-4707-b916-d4cb4fac3ea8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: "Collection is empty, verify parameter",
	errType: "VALIDATION:EMPTY_COLLECTION",
	transactionId: correlationId,
	timeStamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="40" doc:id="9c6416aa-1cd3-4fab-8890-1f2992644dd4" variableName="httpstatus" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="739ce940-dffd-4684-ae87-d10020486746" >
				<logger level="ERROR" doc:name="Logger" doc:id="486a8320-143f-4175-9ad9-ec269d94705d" message="#[{&#10;	errMsg: error.errorMessage,&#10;	errDesc: error.description,&#10;	errType: error.errorType.asString&#10;}]" />
				<ee:transform doc:name="Transform Message" doc:id="291e06cd-f3aa-4f38-bf2f-33d8e963f959" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: error.description,
	errType: error.errorType.asString
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="40" doc:id="88043359-195a-40cc-9c58-79cf5cfb13c7" variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="main-post-outboundEvent" doc:id="406910fb-d8b7-408e-8216-8565bffa572b" >
		<json-logger:logger doc:name="Logger" doc:id="c9c7874b-34af-48b4-b126-0763271d955b" config-ref="jsonLoggerConfig" message='"Process Begin"' />
		<ee:transform doc:name="Transform to Java Payload" doc:id="224b7df8-86e8-4e2e-b5f4-b59e5e67473e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="0a6d3e54-9f4b-4e1e-ae57-4e92cd4cba05" config-ref="salesforceConfig" type="OutboundEventSnapshot__c">
			<salesforce:records ><![CDATA[#[[payload]]]]></salesforce:records>
		</salesforce:create>
		<choice doc:name="Check Respopnse" doc:id="5c81c5e8-a8f1-4fbe-b64b-6d69f15e9a7c" >
			<when expression="#[payload.successful]" >
				<ee:transform doc:name="Transform Message" doc:id="824c2d3f-653a-4da4-8b07-0d5dc94abc23">
					<ee:message>
						<ee:set-payload><![CDATA[output application/json
---
{
	status: "success",
	message: "Outbount Event was created successful",
	id: payload.items[0].id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="f9e55a73-09c0-4192-9ee2-7d272d502f6f" config-ref="jsonLoggerConfig" message='#["Ending Process"]' tracePoint="AFTER_REQUEST"/>
			</when>
			<otherwise >
				<ee:transform doc:name="ErrorMessage" doc:id="e646bccb-9435-44ff-9a12-823b1cc588f8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "status": "Error",
    "description" : (payload.items[0].statusCode default '') ++ "--" ++ (payload.items[0].message default '')
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[500]" doc:name="httpStatus 50" doc:id="271c620e-4a0b-4502-af72-7f21c7b2e20f" variableName="httpStatus" />
				<json-logger:logger doc:name="Error" doc:id="84ba4a65-6aec-468f-8f6b-c4f065d4f918" config-ref="jsonLoggerConfig" message="ERROR: POST SCORECARD" tracePoint="EXCEPTION" priority="ERROR" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0d232b07-9ca0-490c-b1f9-1172d91556d1" >
				<logger level="ERROR" doc:name="Logger" doc:id="820119ec-3142-41b0-8d25-f7a5e555bb1c" message="#[{&#10;	errMsg: error.errorMessage,&#10;	errDesc: error.description,&#10;	errType: error.errorType.asString&#10;}]" />
				<ee:transform doc:name="Transform Message" doc:id="5bcf11ef-2b9d-4c05-b3e4-6dad8f0f1f19" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: error.description,
	errType: error.errorType.asString
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="4" doc:id="42d4580a-bc89-47f5-b2ba-a0d55b7d3c07" variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="main-update-status-OutboundEvent" doc:id="a7c42108-548e-4528-992a-1de683d6a5b1" >
		<json-logger:logger doc:name="Logger" doc:id="9f362331-6457-4506-abf1-fe24808274e7" config-ref="jsonLoggerConfig" message='#["Begin Process"]' />
		<ee:transform doc:name="Transform to Java Payload" doc:id="dedd5007-40e0-486d-9a1d-8560d5577dcf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="OutboundEventSnapshot__c" doc:name="Update Outbound Status" doc:id="9793f1dd-e2f4-4f7f-82fc-c169ca1dc9fd" config-ref="salesforceConfig" target="notificationUpdate" >
			<salesforce:records ><![CDATA[#[[payload]]]]></salesforce:records>
		</salesforce:update>
		<choice doc:name="Choice" doc:id="871907d6-f823-41b7-99a4-0409042afea5" >
			<when expression="#[vars.notificationUpdate.items[0].successful == true]" >
				<json-logger:logger doc:name="Logger" doc:id="a0a48748-c429-4272-aa7a-aee1af127e54" config-ref="jsonLoggerConfig" message='#["End Process"]' tracePoint="AFTER_REQUEST"/>
				<ee:transform doc:name="Transform Message" doc:id="734cade3-68a4-4732-96a0-c02b0ebdadfc" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	message: "Outbound status has been updated successfully",
	id: vars.notificationUpdate.items[0].id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<json-logger:logger doc:name="Logger" doc:id="9e2f2acf-4bda-4fde-8719-ef30cda06301" config-ref="jsonLoggerConfig" message='#["INVALID INPUT "]' >
					<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    ID: JSONLoggerModule::stringifyNonJSON(vars.id) 
}]]]></json-logger:content>
				</json-logger:logger>
				<ee:transform doc:name="error payload" doc:id="4bc42f27-ad66-4e52-aab8-a882f9cb8676" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{

	errorCode: "UPDATE_ERROR_INVALID_INPUT",
	errorMessage: vars.notificationUpdate.items[0].message,
	transactionId: correlationId,
	timeStamp: now()
	//errDesc: "Update failed, invalid input, verify parameters",
	//errType: "VALIDATION:INVALID_INPUT"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="40" doc:id="caf598d3-5f74-42f9-820c-9a8424754bf8" variableName="httpStatus" />
			</otherwise>
		</choice>
	</flow>
	<flow name="main-query-caseNumber" doc:id="31d167ef-078c-42e3-9d59-8ec391c4b2a4" >
		<json-logger:logger doc:name="Logger" doc:id="10074f4f-ed06-4f88-84e3-1f84c123ae1f" config-ref="jsonLoggerConfig" message='"Process Begin"' />
		<salesforce:query doc:name="Query" doc:id="a63d50a2-1324-4570-8440-e4f356d0b575" config-ref="salesforceConfig" >
			<salesforce:salesforce-query ><![CDATA[SELECT casenumber from Case where esr__c = ':esrId']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	esrId : vars.esrId
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="" doc:id="11778339-d579-4aa4-96a1-d553cc732016" >
			<when expression="#[!isEmpty(payload)]" >
				<ee:transform doc:name="Transform Message" doc:id="115a8f74-7c75-4d5b-bd57-ea7389dcc008" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="46ac1969-5dba-4550-87f4-fe55a2baaf88" config-ref="jsonLoggerConfig" message='#["Ending Process"]' tracePoint="AFTER_REQUEST" />
			</when>
			<otherwise >
				<ee:transform doc:name="error payload" doc:id="77145799-73ed-454a-b03b-d020e3bf7dd8" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: "Collection is empty, verify parameter",
	errType: "VALIDATION:EMPTY_COLLECTION",
	transactionId: correlationId,
	
	timeStamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="4" doc:id="48492b42-26b2-4011-9481-4742f7ef53bd" variableName="httpstatus" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f020141f-7a4f-41b4-9920-84df55d96491" >
				<logger level="ERROR" doc:name="Logger" doc:id="8b41bc2e-e374-432a-8c48-cde81bac328b" message="#[{&#10;	errMsg: error.errorMessage,&#10;	errDesc: error.description,&#10;	errType: error.errorType.asString&#10;}]" />
				<ee:transform doc:name="Transform Message" doc:id="d4c817e7-3c05-444e-be67-ad7631651202" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: error.description,
	errType: error.errorType.asString
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="4" doc:id="45f1f511-4d14-46e9-9382-3a11f88933a8" variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
