oracle_integration/target/classes/implementation/ess-job-status.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\ess-job\status\(request-id):vems-mule-oracle-sapi-config">
        <json-logger:logger doc:name="Start of ess-job-status flow" doc:id="d9d23687-18c5-430a-b6e7-28baa3b2cd27" config-ref="jsonLoggerConfig" message="Start of ess-job-status flow" />
		<ee:transform doc:name="Variable request-id">
            <ee:variables>
                <ee:set-variable variableName="request-id">attributes.uriParams.'request-id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        
		<flow-ref doc:name="ess-job-statusSub_Flow" doc:id="998ca678-dd26-4ee8-80d0-f8cb8467fd8e" name="ess-job-statusSub_Flow"/>
		<json-logger:logger doc:name="End of ess-job-status flow1" doc:id="ef98125f-ae66-4e4b-aaf7-6380b45ec135" config-ref="jsonLoggerConfig" message="End of ess-job-status flow1" tracePoint="END"/>
    </flow>
	<sub-flow name="ess-job-statusSub_Flow" doc:id="fec8592f-8b4f-46b2-b7eb-1042cc353b0a">
	<json-logger:logger doc:name="Before of ess-job-status request Building" doc:id="1b1efb9f-c937-475a-b695-91fa7190dddc" config-ref="jsonLoggerConfig" message="Before of ess-job-status request Building" tracePoint="BEFORE_TRANSFORM" />
		<ee:transform doc:name="Request Building" doc:id="c6ba88fb-049d-40fe-8c03-54353474db45">
			<ee:message>
				<ee:set-payload resource="dw/ess-job-status-request-transformatrion.dwl" />
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="After of ess-job-status request Building" doc:id="6463907f-b260-497c-bae3-358d9a34be7a" config-ref="jsonLoggerConfig" message="After of ess-job-status request Building" tracePoint="AFTER_TRANSFORM" />
		<try doc:name="Try" doc:id="6fef2d5d-970c-4f9e-9460-7b46bc0be842">
			<json-logger:logger doc:name="Before of ess-job-run Web Service call" doc:id="241191de-db3e-4210-a471-cf66f2d04984" config-ref="jsonLoggerConfig" message="Before of ess-job-run Web Service call" tracePoint="BEFORE_REQUEST" />
			<http:request method="POST" doc:name="Call to ess-job-run Operatrion" doc:id="f1335613-6e5f-4756-b3c3-2bfc0d7a2e58" config-ref="HTTP_Request_configuration_SOAP-Api" path="${app.oracle.api.fscmServicePath}" outputMimeType="multipart/mixed">
				<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml"
}]]]></http:headers>
			</http:request>
			<json-logger:logger doc:name="End of ess-job-run Web Service call" doc:id="9361dbf1-763b-48e5-85cf-ce6f4b671046" config-ref="jsonLoggerConfig" message="End of ess-job-run Web Service call" tracePoint="AFTER_REQUEST" />
			<choice doc:name="Choice" doc:id="d72907de-9d34-4081-9d3d-dc9aa897dad3">
				<when expression="#[attributes.statusCode==200]">
					<ee:transform doc:name="Response Building" doc:id="db6477b5-be8b-421a-90e3-d1eb6588914a">
						<ee:message>
							<ee:set-payload resource="dw/ess-job-status-response-transformatrion.dwl" />
						</ee:message>
					</ee:transform>
				</when>
				<otherwise>
					<flow-ref doc:name="improveErrorMessage" doc:id="81148f66-e506-426e-aab3-878c31e0efd8" name="improveErrorMessage"/>
					<set-variable value="#[vars.responseAttributes.statusCode as Number]" doc:name="httpStatus" doc:id="8b5630eb-8a44-44e1-b33c-a9e6a0bc1576" variableName="httpStatus" />
				</otherwise>
			</choice>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="04a875d5-75c4-4c63-b87e-11741c882679" >
					<flow-ref doc:name="improveErrorMessage" doc:id="9bf82b76-50e1-433c-9670-08b45d0ecf77" name="improveErrorMessage" />
				</on-error-propagate>
			</error-handler>
		</try>
	</sub-flow>
</mule>
