oracle_integration/target/classes/implementation/ess-job-configure.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	 <flow name="post:\ess-job\configure:application\json:vems-mule-oracle-sapi-config">
        <json-logger:logger doc:name="Start of ess-job-configure flow" doc:id="6e4d8ba5-10b2-480c-ad2a-59a073e2b035" config-ref="jsonLoggerConfig" message="Start of ess-job-configure flow" />
		<json-logger:logger doc:name="Before of ess-job-configure request Building" doc:id="6c10e06c-0477-4264-9077-48a0b3b9b031" config-ref="jsonLoggerConfig" message="Before of ess-job-configure request Building" tracePoint="BEFORE_TRANSFORM"/>
		<ee:transform doc:name="Request Building" doc:id="6cf0389c-fdc9-4c0a-a2aa-8f9cfae6cc78">
			<ee:message>
				<ee:set-payload resource="dw/ess-job-configure-request-transformatrion.dwl" />
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="After of ess-job-configure request Building1" doc:id="948030c5-c9c6-4e65-981e-1307341a58db" config-ref="jsonLoggerConfig" message="After of ess-job-configure request Building1" tracePoint="AFTER_TRANSFORM" />
		<try doc:name="Try" doc:id="aa1b0b25-8ab9-4a77-8de6-51e0cd3e7834" >
			<json-logger:logger doc:name="Before of ess-job-configure Web Service call" doc:id="82736202-5927-4cc5-84cb-9d4e03535076" config-ref="jsonLoggerConfig" message="Before of ess-job-configure Web Service call" tracePoint="BEFORE_REQUEST" />
			<http:request method="POST" doc:name="Call to ess-job-configure Operatrion" doc:id="8cb802c4-ff17-4f59-a3a3-67359211f28e" config-ref="HTTP_Request_configuration_SOAP-Api" path="${app.oracle.api.fscmServicePath}" outputMimeType="multipart/mixed">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml"
}]]]></http:headers>
		</http:request>
			<json-logger:logger doc:name="End of ess-job-configure Web Service call" doc:id="8dc76b54-7fbb-4c55-bfe1-8dc26275ac69" config-ref="jsonLoggerConfig" message="End of ess-job-configure Web Service call" tracePoint="AFTER_REQUEST" />
			<choice doc:name="Choice" doc:id="ed8d6fcc-5233-49c4-bfc5-02446e3cc019" >
				<when expression="#[attributes.statusCode==200]" >
					<ee:transform doc:name="Response Building" doc:id="f8c63bec-b7ab-4699-8e33-7a315b6a0fab" >
						<ee:message >
							<ee:set-payload resource="dw/ess-job-configure-response-transformatrion.dwl" />
						</ee:message>
					</ee:transform>
				</when>
				<otherwise >
					<flow-ref doc:name="improveErrorMessage" doc:id="fb7fd813-c650-4e17-b00b-856a9ddf8a09" name="improveErrorMessage"/>
					<set-variable value="#[vars.responseAttributes.statusCode as Number]" doc:name="httpStatus" doc:id="f524d7b3-535b-4eeb-9c5b-739106bb1587" variableName="httpStatus" />
				</otherwise>
			</choice>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d74e9092-a56b-49e6-ac3b-502d0e7f2bbd" >
					<flow-ref doc:name="improveErrorMessage" doc:id="b49a7c28-4b84-4543-8d6f-feed12fd0fab" name="improveErrorMessage" />
				</on-error-propagate>
			</error-handler>
		</try>
		<json-logger:logger doc:name="End of ess-job-configure flow" doc:id="6e3daf8a-94bd-4b3d-ad28-0b5de09d1d2d" config-ref="jsonLoggerConfig" message="End of ess-job-configure flow" tracePoint="END"/>
    </flow>
</mule>
