oracle_integration/target/classes/implementation/ucm-upload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	 <flow name="post:\ucm-upload:application\json:vems-mule-oracle-sapi-config">
		<json-logger:logger doc:name="Start of ucm-upload flow" doc:id="bed224fa-c318-4fd6-8981-db95ced747ce" config-ref="jsonLoggerConfig" message="Start of ucm-upload flow"/>
		<json-logger:logger doc:name="Before of ucm-upload transformation" doc:id="80175803-cbd8-444d-9db7-54c3c04974c1" config-ref="jsonLoggerConfig" tracePoint="BEFORE_TRANSFORM" message="Before of ucm-upload transformation"/>
		<ee:transform doc:name="Request Building" doc:id="f3dc7269-d2bc-4c74-a614-5c60a3b07bda">
			<ee:message>
				<ee:set-payload resource="dw/ucm-upload-request-transformatrion.dwl" />
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="After of ucm-upload transformation1" doc:id="59067d76-75a1-4c65-ab82-9833623136bc" config-ref="jsonLoggerConfig" message="After of ucm-upload transformation" tracePoint="AFTER_TRANSFORM" />
		<try doc:name="Try" doc:id="fcb65a28-640f-4427-a90a-3e4002652248" >
			<json-logger:logger doc:name="Start of ucm-upload Web Service call" doc:id="3f0dcdbe-1faf-47dc-9005-61dbabc03034" message="Start of ucm-upload Web Service call" tracePoint="BEFORE_REQUEST" config-ref="jsonLoggerConfig"/>
			<http:request method="POST" doc:name="Call to UploadFileToUcm Operatrion" doc:id="5db576bd-1254-4882-a62f-702eb4c8e5c9" config-ref="HTTP_Request_configuration_SOAP-Api" path="${app.oracle.api.fscmServicePath}" outputMimeType="multipart/mixed">
				<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml"
}]]]></http:headers>
			</http:request>
			<json-logger:logger doc:name="End of ucm-upload Web Service call" doc:id="1d0677a9-c8a2-42cc-82d6-e411731a4c88" config-ref="jsonLoggerConfig" message=" End of ucm-upload Web Service call" tracePoint="AFTER_REQUEST" />
			<choice doc:name="Choice" doc:id="3a467199-96c5-49a3-9c48-4efb3bc05320">
			<when expression="#[attributes.statusCode==200]">
				<ee:transform doc:name="Response Building" doc:id="7a5a329c-0694-4d43-9150-82b4c1d52c98">
			<ee:message>
				 <ee:set-payload resource="dw/ucm-upload-response-transformatrion.dwl" />
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
					<flow-ref doc:name="improveErrorMessage" doc:id="9ac97d5b-10a2-4b78-935a-59174d306513" name="improveErrorMessage"/>
					<set-variable value="#[vars.responseAttributes.statusCode as Number]" doc:name="httpStatus" doc:id="02a7663e-9b1d-44fa-bbe5-7ec4becd0a98" variableName="httpStatus" />
			</otherwise>
		</choice>
			<error-handler>
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="76ab646e-c646-406e-8b8a-76c7dcca5e33" >
					<flow-ref doc:name="Flow Reference" doc:id="2d61045c-2dc3-4031-9548-df341b0a3b54" name="improveErrorMessage"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<json-logger:logger doc:name="End of ucm-upload flow" doc:id="89b96418-bee3-4e74-847c-2a80e63c4c25" config-ref="jsonLoggerConfig" message="End of ucm-upload flow"/>
    </flow>
</mule>
