outbound_processapi_sync/src/main/mule/event_listener.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	
	<flow
		name="salesforce-core-providerAcctUpdate-event-listener-flow"
		doc:id="de6cba12-eb1e-4b00-9616-8ab4d6f423d0">
		<salesforce:replay-channel-listener
			doc:name="SF Core channel listener (Provider_Account_Update__e)"
			doc:id="ce246610-0767-4095-b1cc-2952c963c893"
			config-ref="salesforceConfig" replayOption="ONLY_NEW"
			streamingChannel="${app.salesforce.cloud.event.providerAcctUpdate.lstChannel.name}"
			autoReplay="true">
			<reconnect count="4"/>
		</salesforce:replay-channel-listener>
		<json-logger:logger doc:name="Log New Event"
			doc:id="5ad2ec9c-7b16-4407-8154-2b69fabe15c6"
			config-ref="jsonLoggerConfig"
			message="EVENT START: Provider_Account_Update__e">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    eventPayload: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
		</json-logger:logger>
		<choice doc:name="check AccountId"
			doc:id="673ef6a0-7c18-46ad-aeeb-9b05912e56cb">
			<when
				expression="#[!isEmpty(payload.data.payload.AccountId__c)]">
				<ee:transform doc:name="transform to SAPI Request"
					doc:id="ecc197c5-3b81-4706-b5db-30c24c53458a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
[
  {
    ("providerStatus": payload.data.payload.Provider_Status__c) if (!isEmpty(payload.data.payload.Provider_Status__c)),
    ("subStatus": payload.data.payload.Substatus__c) if (!isEmpty(payload.data.payload.Substatus__c)),
    
    ("freezeReason": payload.data.payload.Freeze_Reason__c) if (!isEmpty(payload.data.payload.Freeze_Reason__c)),
    "freezeStarted": payload.data.payload.Freeze_Started__c,
    "accountId": payload.data.payload.AccountId__c
  }
]
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref
					doc:name="set-request-sapi-headers-client-id-client-secret"
					doc:id="088ef0c4-27e6-4064-9057-3b4b17343a2f"
					name="set-request-sapi-headers-client-id-client-secret"/>

				<try doc:name="Try"
					doc:id="48508ee9-dbe0-465c-a845-bc05877d1aa3">
					<http:request method="PUT" doc:name="PUT: /account"
						doc:id="e5c444da-f9db-4d8f-9eac-1f32c80f2b9c"
						config-ref="httpRequestSFPnmSapiConfig" path="/account">
						<http:headers><![CDATA[#[output application/java
---
vars.requestSapiHeaders]]]></http:headers>
					</http:request>
					<json-logger:logger doc:name="Logger"
						doc:id="35d8045a-49a9-4903-a334-56e2c22a9324"
						config-ref="jsonLoggerConfig"
						message="EVENT END: Provider_Account_Update__e"/>
					<error-handler>
						<on-error-continue enableNotifications="true"
							logException="true" doc:name="On Error Continue"
							doc:id="f0d51652-7ded-444d-abd4-2f2b98229e01">
							<json-logger:logger doc:name="Error Logger"
								doc:id="96c12bd9-4742-4e0e-b418-83ed727f5c73"
								config-ref="jsonLoggerConfig"
								message="ERROR: Error Returned from  SFPnmSapi: /account"
								priority="WARN">
								<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---

{
    sapiReq: JSONLoggerModule::stringifyNonJSON(payload),
    sapiResp: JSONLoggerModule::stringifyNonJSON(error.muleMessage.typedValue),
    errorDesc:  "Error: " ++ (error.muleMessage.typedValue.error.message default "")
}]]]></json-logger:content>
							</json-logger:logger>
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise>
				<json-logger:logger doc:name="Error Logger"
					doc:id="daede893-3a02-45b1-833e-7996a9188f36"
					config-ref="jsonLoggerConfig"
					message="WARNING: Event received without AccountId" priority="WARN"/>
			</otherwise>
		</choice>
		<error-handler ref="event-error-handler" />

	</flow>
	
	
	<flow
		name="salesforce-core-serviceAppointment-event-listener-flow"
		doc:id="fce08a19-1ed1-4df3-893b-ff4b17db30a8">
		<salesforce:replay-channel-listener
			doc:name='SF Core channel listener (Provider_Last_Appointment__e)'
			doc:id="54d2ee08-990b-4856-a883-58303b45d658"
			config-ref="salesforceConfig" replayOption="ONLY_NEW"
			streamingChannel="${app.salesforce.cloud.event.servAppointment.lstChannel.name}"
			autoReplay="true">
			<reconnect count="4"/>
		</salesforce:replay-channel-listener>
		<json-logger:logger doc:name="Log New Event"
			doc:id="d0f4f000-e6a7-414a-9ded-3d5af0787963"
			config-ref="jsonLoggerConfig"
			message="NEW EVENT:Provider_Last_Appointment__e">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    eventPayload: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
		</json-logger:logger>
		<choice doc:name="check AccountId"
			doc:id="b098d6cd-82cc-46f2-b58b-4eddff029fdd">
			<when
				expression="#[!isEmpty(payload.data.payload.AccountId__c)]">
				<ee:transform doc:name="transform to SAPI Request"
					doc:id="381534b2-5c32-4b85-ae2f-610bdf1a675b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
[
  {
    "accountId": payload.data.payload.AccountId__c,
    "lastAppointmentDate": payload.data.payload.Appointment_Date__c
  }
]
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref
					doc:name="set-request-sapi-headers-client-id-client-secret"
					doc:id="05054724-dd06-45d9-a7d1-1eaadcea04cb"
					name="set-request-sapi-headers-client-id-client-secret"/>
				<try doc:name="Try"
					doc:id="5a171ef0-6e9a-4b4e-b0f9-ff7cd7dcdbd2">
					<http:request method="PUT"
						doc:name="PUT: /trainingTracking"
						doc:id="fa6801dc-f83c-4754-b51c-8f980b0f830b"
						config-ref="httpRequestSFPnmSapiConfig" path="/trainingTracking">
						<http:headers><![CDATA[#[output application/java
---
vars.requestSapiHeaders]]]></http:headers>
					</http:request>
					<json-logger:logger doc:name="Logger"
						doc:id="144973dc-7571-4b97-9b57-aa414423774e"
						config-ref="jsonLoggerConfig"
						message="EVENT END: Provider_Last_Appointment__e"/>
					<error-handler>
						<on-error-continue enableNotifications="true"
							logException="true" doc:name="On Error Continue"
							doc:id="0920554a-baf7-4a5e-aee7-5515670eb718">
							<json-logger:logger doc:name="Error Logger"
								doc:id="7bdb5020-5f51-40c2-b61b-113d9875da4a"
								config-ref="jsonLoggerConfig"
								message="ERROR: Error Returned from SFPnmSapi: /trainingTracking"
								priority="WARN">
								<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(payload),
    errorDesc:  "Error: " ++ (error.muleMessage.typedValue.error.message default "")
}]]]></json-logger:content>
							</json-logger:logger>
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise>
				<json-logger:logger doc:name="Error Logger"
					doc:id="45c728c7-a2b5-49ee-a937-899122ff9cf1"
					config-ref="jsonLoggerConfig"
					message="WARNING: Event received without AccountId" priority="WARN"/>
			</otherwise>
		</choice>
		<error-handler ref="event-error-handler" />

	</flow>
	
	
	<flow name="salesforce-core-freeze-pnm-provider-freeze-flow" doc:id="1ca33f4b-c432-4b04-a075-2a40246fc3ca" >
		<salesforce:replay-channel-listener streamingChannel="${app.salesforce.cloud.event.providerFreezeSync.channel.name}" replayOption="ONLY_NEW" doc:name="SF Core channel listener (Freeze_Created_Updated__e)" doc:id="228e15e2-021b-4805-9c19-03763cd9436e" config-ref="salesforceConfig" autoReplay="true" >
			<reconnect count="4" />
		</salesforce:replay-channel-listener>
		<json-logger:logger doc:name="Log New Event" doc:id="0513d0f1-d387-4ee8-aed4-da2b55131bd5" config-ref="jsonLoggerConfig" message="EVENT START: Freeze_Created_Updated__e" tracePoint="FLOW">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    eventPayload: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
		</json-logger:logger>
		<set-payload value="#[%dw 2.0&#10;&#10;output json&#10;---&#10;payload.data.payload]" doc:name="Set Payload" doc:id="66720a05-32dc-4979-8928-02656eb49800" />
		<choice doc:name="Choice" doc:id="e09e39c3-c074-44d1-8a29-1ed47327955a" >
			<when expression="#[payload.CoreFreezeId__c != null]">
				<ee:transform doc:name="map Req to SAPI" doc:id="4168c272-d9f1-4cb8-ba71-8b134e5b21fa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	pnmId: payload.PNMFreezeId__c,
	AccountId: payload.AccountId__c,
	EndDate: payload.EndDate__c,
	FreezeSource: payload.FreezeSource__c,
	Reason: payload.Reason__c,
	StartDate: payload.StartDate__c,
	Status: payload.Status__c,
	RecordTyeDevName: payload.RecordTypeName__c,
	coreId: payload.CoreFreezeId__c

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<try doc:name="Try" doc:id="f24822cd-fe7e-4484-b3cd-3e2ff8c7be8f" >
					<flow-ref doc:name="post-provider-freeze-event-pnm-sapi-flow" doc:id="db79d3cb-85bf-4566-bd07-d2aa1b1f1378" name="post-provider-freeze-event-pnm-sapi-flow"/>
					<json-logger:logger doc:name="Logger" doc:id="862623c4-1ce7-4049-8d53-b440b66a1485" config-ref="jsonLoggerConfig" message="EVENT END: Freeze_Created_Updated__e " >
						<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    sapiResp: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
					</json-logger:logger>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e5bdcca9-4066-4589-85a3-35dc85d9c2c2" >
							<json-logger:logger doc:name="Log SFPnm Call Error" doc:id="96f126a4-3dd6-4368-b1ad-20d5f6a887a5" config-ref="jsonLoggerConfig" message="EVENT ERROR: Freeze_Created_Updated__e, Error Returned from  SFPnmSapi: /provider-freeze" tracePoint="EXCEPTION" priority="ERROR">
								<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    sapiReq: JSONLoggerModule::stringifyNonJSON(payload),
    sapiResp: JSONLoggerModule::stringifyNonJSON(error.muleMessage.typedValue) 
}]]]></json-logger:content>
							</json-logger:logger>
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<json-logger:logger doc:name="Log End FLow" doc:id="757b9837-32e5-4464-8e9b-55ec12ea1869" config-ref="jsonLoggerConfig" message="EVENT ERROR: Freeze_Created_Updated__e, No Updates.  Required fields missing." tracePoint="END">
					<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: "No Updates.  Required field missing: CoreFreezeId__c" 
}]]]></json-logger:content>
				</json-logger:logger>
			</otherwise>
		</choice>
		<error-handler ref="event-error-handler" />
	</flow>
	<flow name="salesforce-core-operating-hours-to-pnm-flow" doc:id="14c2adc3-6845-41d5-917c-a73426c2a296" >
		<salesforce:replay-channel-listener streamingChannel="${app.salesforce.cloud.event.operatingHoursSync.channel.name}" replayOption="ONLY_NEW" doc:name="SF Core channel listener (Operating_Hours_Create_Update__e)" doc:id="2ebfcbb9-6244-443d-8639-ddb9cc0905f0" config-ref="salesforceConfig" autoReplay="true" >
			<reconnect count="4" />
		</salesforce:replay-channel-listener>
		<json-logger:logger doc:name="Log New Event" doc:id="f28c0b45-9271-4477-be25-825cda7b457a" config-ref="jsonLoggerConfig" message="Operating Hours Payload" tracePoint="FLOW" >
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    eventPayload: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
		</json-logger:logger>
		<set-payload value="#[%dw 2.0&#10;&#10;output json&#10;---&#10;payload.data.payload]" doc:name="Set Payload" doc:id="2ce23654-94d4-470b-badf-6156179cffb3" />
		<choice doc:name="Choice" doc:id="98ecaccf-a5d4-4fa4-9e54-fb71e2d84a42" >
			<when expression="#[payload.CoreId__c != null]" >
				<set-variable value="#[payload]" doc:name="Set OperatingHoursPayload" doc:id="1ab4ed45-4cc5-4100-a5a3-a0f59d70b3de" variableName="operatingHoursPayload" />
				<ee:transform doc:name="Transform Message" doc:id="14359861-3fc0-4b52-a0ab-bf90a1a8aa4d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	
	Description: payload.Description__c,
	Name: payload.Name__c,
	TimeZone: payload.TimeZone__c,
	Integration_Id__c:  payload.CoreId__c,
	Id: payload.External_Id__c
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="fe1d2196-5ebc-414e-bc53-a3b2cd9e5d71" >
					<flow-ref doc:name="post-operating-hours-pnm-sapi-flow" doc:id="2163f219-2deb-4175-9013-d7ce7bdba714" name="post-operating-hours-pnm-sapi-flow" />
					<json-logger:logger doc:name="Log OperatingHours Result" doc:id="868cdda4-757c-4366-8395-d043e1d0b911" config-ref="jsonLoggerConfig" message="OperatingHours Result" tracePoint="AFTER_REQUEST"/>
					<ee:transform doc:name="Transform Message" doc:id="0c0f6e92-0c7d-489f-a997-73853105dad7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "Id": vars.operatingHoursPayload.AccountId__c,
    "OperatingHoursId": payload.recordId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					<flow-ref doc:name="patch-account-pnm-sapi-flow" doc:id="b04e2cc0-a808-4c7c-b73d-ad8f1d9b5a7c" name="patch-account-pnm-sapi-flow"/>
					<json-logger:logger doc:name="Log Account Updated" doc:id="c202c3a7-665a-4aec-858d-fe94372e30ee" config-ref="jsonLoggerConfig" message="Account Updated" tracePoint="END"/>
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7d42119e-e3ba-4552-acdf-b0e31d7b7db9" >
							<json-logger:logger doc:name="Log SFPnm Call Error" doc:id="7223d533-ae08-4a0f-92c6-c2c2b763214c" config-ref="jsonLoggerConfig" message="SFPnm Call Error" tracePoint="EXCEPTION" priority="ERROR" />
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<json-logger:logger doc:name="Log End FLow" doc:id="6ac94811-7ae2-4e67-8bde-7c3d254bdd68" config-ref="jsonLoggerConfig" message="End FLow" tracePoint="END" />
			</otherwise>
		</choice>
		<error-handler ref="event-error-handler" />
	</flow>

	<flow name="salesforce-core-healthcare-provider-facility-to-pnm-flow" doc:id="42bf0793-c0dc-43d8-9417-c85593db3bab" >
		<salesforce:replay-channel-listener streamingChannel="${app.salesforce.cloud.event.healthcareFacilitySync.channel.name}" replayOption="ONLY_NEW" doc:name="SF Core channel listener (Healthcare_Practitioner_Facility_Create__e)" doc:id="47437cf2-81c5-410d-bb6a-966b52b39fcd" config-ref="salesforceConfig" autoReplay="true" >
			<reconnect count="4" />
		</salesforce:replay-channel-listener>
		<json-logger:logger doc:name="New Event" doc:id="34fe0249-caac-401b-907f-c395d22125c2" config-ref="jsonLoggerConfig" message="NEW PROVIDER FREEZE EVENT" tracePoint="BEFORE_TRANSFORM" >
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    eventPayload: JSONLoggerModule::stringifyNonJSON(payload) 
}]]]></json-logger:content>
		</json-logger:logger>
		<set-payload value="#[%dw 2.0&#10;&#10;output json&#10;---&#10;payload.data.payload]" doc:name="Set Payload" doc:id="0214d59f-06c3-46b9-b4d9-97987440e3ac" />
		<choice doc:name="Choice" doc:id="5d775bb4-0da3-4da6-8fec-38725b0f7d96" >
			<when expression="#[payload.CoreId__c != null]" >
				<ee:transform doc:name="Transform Message" doc:id="25f9864d-780c-4f3b-bc25-24a876c16711" >

					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Name: payload.Name__c,
	AccountId: payload.AccountId__c,
	Id: payload.ExternalId__c,
	HealthcareFacilityId: payload.HealthcareFacilityId__c,
	HealthcareProviderId: payload.HealthcareProviderId__c,
	Integration_ID__c: payload.CoreId__c,
	PractitionerId: payload.PractitionerId__c
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<try doc:name="Try" doc:id="59ef624c-4c1c-4a22-bc39-e94e0ceb7eab" >
					<flow-ref doc:name="post-healthcare-provider-facility-pnm-sapi-flow" doc:id="df6465e1-7e9c-49c0-9ff8-85a84626a900" name="post-healthcare-provider-facility-pnm-sapi-flow" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="10662a60-85d0-43cb-81e4-6392dd57dc9f" >
							<json-logger:logger doc:name="Log SFPnm Call Error" doc:id="8f4993bf-2000-4730-a592-3e38b01b8c71" config-ref="jsonLoggerConfig" message="SFPnm Call Error" tracePoint="EXCEPTION" priority="ERROR" />
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<json-logger:logger doc:name="Log End FLow" doc:id="0539e6a1-16e9-4b20-ba1f-b96044eac024" config-ref="jsonLoggerConfig" message="End FLow" tracePoint="END" />
			</otherwise>
		</choice>
		<error-handler ref="event-error-handler" />
	</flow>
	
</mule>
