ExteranlAPI_integration/target/classes/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <http:listener-config name="vems-mule-pm-papi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <flow name="vems-mule-pm-papi-main" doc:id="9f3508ff-c06b-4428-bc78-8b4ed0bbc606">
        <http:listener config-ref="apiHttpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiConfig" />
        <error-handler ref="api-error-handler" />
    </flow>
    <flow name="get:\process\response\(responseId):apiConfig">
        <ee:transform doc:name="set variables" doc:id="ccf4ba62-a4de-43ea-9c3b-4c1d59cb3d30">
            <ee:variables>
                <ee:set-variable variableName="responseId"><![CDATA[attributes.uriParams.'responseId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-practice-match-provider" doc:id="43efcf2c-31ce-4a01-9e0f-1ed058c734fb" name="get-practice-match-provider" />
    </flow>
    <flow name="get:\process\responses\list:apiConfig">
        <ee:transform doc:name="set variables" doc:id="d69c27b8-dbae-4ad3-839e-dd7ed8008b74">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="startDate"><![CDATA[attributes.queryParams.startDate]]></ee:set-variable>
                <ee:set-variable variableName="endDate"><![CDATA[attributes.queryParams.endDate]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-practice-match-list" doc:id="3c18429e-f3c6-4edd-9a9d-d2cf57b3e368" name="get-practice-match-list" />
    </flow>
    <flow name="post:\process\trigger:application\json:apiConfig">
        <ee:transform doc:name="set thisDay" doc:id="e173128d-beed-4979-98e3-ac035c2eb0a6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="startDate" ><![CDATA[%dw 2.0
output application/json
---
payload.startDate as String {format: "y/MM/dd"}]]></ee:set-variable>
				<ee:set-variable variableName="endDate" ><![CDATA[%dw 2.0
output application/json
---
payload.endDate as String {format: "y/MM/dd"}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="startPMSyncSubflow" doc:id="9c591ac5-f5ba-40a2-b955-e5b25d38ed21" name="startPMSyncSubflow"/>
    </flow>
</mule>
