SystemAPI_SFCoreIntegration/src/main/mule/utils.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	
	
	
	<sub-flow name="getSalesforceToken" doc:id="1f50968e-f069-4ec5-9730-37726e926f97" >
		<ee:transform doc:name="sfToken-int user" doc:id="6ca95a91-b676-4007-89bf-ead7fbba17b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/x-www-form-urlencoded
---
{
	username: p('secure::app.salesforce.cloud.auth.username'),
	password: p('secure::app.salesforce.cloud.auth.password'),
	grant_type: "password",
	client_id: p('secure::app.salesforce.cloud.auth.consumerKey'),
	client_secret: p('secure::app.salesforce.cloud.auth.consumerSecret')
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="nocache param present?" doc:id="c6e17edd-f2a3-48f5-a5d3-61291972553e">
			<when expression="#[vars.nocache?]">
				<try doc:name="Try" doc:id="6dfceb79-f973-42d0-a21d-e219f6425c6a">
					<ee:invalidate-cache doc:name="Invalidate Cache" doc:id="5c14b1e8-a7c8-4366-972d-f527e016f0d0" cachingStrategy-ref="Caching_SFToken_Strategy" />
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f6310c69-0842-45a5-a889-6e74c31db42b">
							<json-logger:logger doc:id="010293d3-ac3e-4a91-ab33-c674cc21c28a" doc:name="Error" config-ref="jsonLoggerConfig" message="Error invalidating Caching_sfToken_Strategy "/>
						</on-error-continue>
					</error-handler>
				</try>
				<http:request method="POST" doc:name="Request Token" doc:id="5da20085-5871-4dfb-b43f-613a3207acdd" config-ref="HTTP_Request_configuration_SFCore_RestApi" path="/services/oauth2/token" />
			</when>
			<otherwise>
				<ee:cache doc:name="Token Caching" doc:id="6ddab2c9-1c84-481b-b779-4d14cf5d0615" cachingStrategy-ref="Caching_SFToken_Strategy">
					<http:request method="POST" doc:name="Request Token" doc:id="cc924fa1-97ed-434d-b9c7-cd771f620964" config-ref="HTTP_Request_configuration_SFCore_RestApi" path="/services/oauth2/token" />
				</ee:cache>
			</otherwise>
		</choice>
		<ee:transform doc:name="sfToken" doc:id="fcaf34cf-9f32-40cd-ba03-d69bd71c67c5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.access_token]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="set-request-sapi-headers-client-id-client-secret1" doc:id="cb7771df-0818-4a7f-a083-38662e387017" >
		<set-variable value="#[%dw 2.0&#10;&#10;output json&#10;---&#10;{&#10;	&quot;client_secret&quot; : Mule::p('secure::app.sapi.credentials.clientSecret'),&#10;	&quot;client_id&quot; : Mule::p('secure::app.sapi.credentials.clientId')&#10;}]" doc:name="Set Headers" doc:id="ac39a32f-eb01-4a02-976a-04ab8368660c" variableName="requestSapiHeaders" />
	</sub-flow>
	<flow name="get_core_recortType_subFlow" doc:id="295b3bd3-db89-4082-96c9-5829ddc1d2bf" >
		<choice doc:name="nocache param present?" doc:id="341d3682-acaf-4e7a-866e-bf2d3e486295" >
			<when expression="#[vars.nocache?]" >
				<try doc:name="Try" doc:id="99542c6e-dcfd-40ec-a843-aaf6ea458919" >
					<ee:invalidate-cache doc:name="Invalidate Cache" doc:id="f19ce9a4-aecf-4d2f-986e-bb15a402c944" cachingStrategy-ref="CORERecordType_Caching_Strategy" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="77636dbb-c9a1-40e3-97fe-da9b7ceda726" >
							<json-logger:logger doc:name="Error" doc:id="98c6c5f3-e08b-4106-b0b5-4fcf4bdfb950" config-ref="jsonLoggerConfig" message="Error invalidating Caching_sfToken_Strategy " />
						</on-error-continue>
					</error-handler>
				</try>
				<salesforce:query doc:name="RecordType" doc:id="b830c2fa-a60a-4115-9f0c-3e94dded7b0f" config-ref="salesforceConfig" >
					<salesforce:salesforce-query ><![CDATA[Select Id, DeveloperName, SobjectType, IsPersonType, IsActive from RecordType where IsActive = true]]></salesforce:salesforce-query>
				</salesforce:query>
<!-- [STUDIO:"json"]				<ee:transform doc:name="json" doc:id="663cc284-c48e-4fab-8788-37b584bb183c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
(payload map {	
	"SobjectType": $.SobjectType,
	"IsPersonType": $.IsPersonType,
	"IsActive": $.IsActive,
	"Id": $.Id,
	"type": $.'type',
	 "Name": if ($.SobjectType == 'Account') ($.Name replace 'Provider Account' with 'Provider') else $.Name
})&#93;&#93;></ee:set-payload>
					</ee:message>
				</ee:transform> [STUDIO] -->
				<ee:transform doc:name="json" doc:id="1cb82e92-de24-4cdf-9b7f-c5ed1daaa4b5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:cache doc:name="Core-Cache" doc:id="dcf8e6e7-4583-46f5-bae4-b0283075e937" cachingStrategy-ref="CORERecordType_Caching_Strategy">
			<salesforce:query doc:name="RecordType" doc:id="fe36cf6d-985c-4253-902d-9885ec4f7847" config-ref="salesforceConfig">
			<salesforce:salesforce-query><![CDATA[Select Id, Name, SobjectType, IsPersonType, IsActive from RecordType where IsActive = true]]></salesforce:salesforce-query>
		</salesforce:query>
<ee:transform doc:name="json" doc:id="f0870912-f262-4ba7-9d87-a8a1b325939b">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</ee:cache>
			</otherwise>
		</choice>
	</flow>
	<flow name="get_pnm_recortType_subFlow" doc:id="393254e2-8fae-472d-901a-c91ff6490699" >
		<choice doc:name="nocache param present?" doc:id="3e7c966c-2c70-4ded-8b25-1e328d767cd0" >
			<when expression="#[vars.nocache?]" >
				<try doc:name="Try" doc:id="a891e29a-25af-43af-b595-c13be36c3aa5" >
					<ee:invalidate-cache doc:name="Invalidate Cache" doc:id="73591af9-7d21-459b-a12c-508fc4fef4ff" cachingStrategy-ref="PNMRecordType_Caching_Strategy" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="476997a0-d017-4d0c-82e2-00af04808bb0" >
							<json-logger:logger doc:name="Error" doc:id="7c867768-2dbb-439e-a587-b88422cafa25" config-ref="jsonLoggerConfig" message="Error invalidating Caching_sfToken_Strategy " />
						</on-error-continue>
					</error-handler>
				</try>
				<flow-ref doc:name="set-request-sapi-headers-client-id-client-secret" doc:id="69b64a7b-438d-406a-b7cb-ac19d5d576f1" name="set-request-sapi-headers-client-id-client-secret1" />
				<http:request method="GET" doc:name="Request /recordType" doc:id="0588d124-a948-49b0-a307-672613dd13f4" config-ref="httpRequestSFPnmSapiConfig" path="/recordType" >
					<http:headers ><![CDATA[#[output application/java
---
vars.requestSapiHeaders]]]></http:headers>
				</http:request>
			</when>
			<otherwise>
				<ee:cache doc:name="PNM-Cache" doc:id="cb2954d5-92cb-47ca-88fa-446e91791124" cachingStrategy-ref="PNMRecordType_Caching_Strategy">
			<flow-ref doc:name="set-request-sapi-headers-client-id-client-secret" doc:id="5a20a5b2-896e-4017-b527-11bedf6c6cbe" name="set-request-sapi-headers-client-id-client-secret1" />
			<http:request method="GET" doc:name="Request /recordType" doc:id="d1b06644-3b2a-473a-b376-8b141bca4a18" config-ref="httpRequestSFPnmSapiConfig" path="/recordType">
				<http:headers><![CDATA[#[output application/java
---
vars.requestSapiHeaders]]]></http:headers>
			</http:request>
		</ee:cache>
			</otherwise>
		</choice>
	</flow>
	
</mule>
