SFCC-Sys-API/target/META-INF/mule-src/sfcc-sys-api/src/main/mule/common/healthcheck.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:module-logger="http://www.mulesoft.org/schema/mule/module-logger" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/module-logger http://www.mulesoft.org/schema/mule/module-logger/current/mule-module-logger.xsd">
	<sub-flow name="healthcheck-implementation-sub-flow" doc:id="a1fd788e-06fa-44ea-9cc4-a6873e485287" >
		<logger level="INFO" doc:name="//TODO Implement the healtchek logic in this sub flow. Exceution without error will be a healthy result." doc:id="78f37b2c-d3eb-4411-8994-3ff380461c61" />
	</sub-flow>
	<flow name="healthcheck-main-flow" doc:id="8684cf73-26ae-4d29-9e03-74e0612b811e" >
		<http:listener doc:name="Listener" doc:id="ce5c59ee-1dc5-4613-a766-1e162317d096" config-ref="api-httpListenerConfig" path="/healthcheck">
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" />
		</http:listener>
		<try doc:name="Try" doc:id="d8788075-d91b-4e72-87f4-66411f98bdba" >
			<flow-ref doc:name="healthcheck-implementation-sub-flow" doc:id="937871c6-84cd-4f07-a726-7834fe10f187" name="healthcheck-implementation-sub-flow"/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e16fe03f-d352-4959-9573-5cc1ace0799f" >
					<set-variable value="500" doc:name="500" doc:id="c4cf6f16-6d6d-40c4-b769-a6dd75a23570" variableName="httpStatus"/>
					<set-variable value="#[error]" doc:name="Error" doc:id="6ffec9f7-42eb-468e-a422-b42a200e73d7" variableName="error" />
				</on-error-continue>
			</error-handler>
		</try>
		<choice doc:name="Return verbose response?" doc:id="205f4f55-a0a1-40bc-9dd7-814bfa2d0ce3">
			<when expression='#[attributes.queryParams.mode == "verbose"]'>
				<ee:transform doc:name="Verbose response payload" doc:id="638ce304-7b7f-42be-960b-d61c6a56966d">
					<ee:message>
						<ee:set-payload resource="dwl/healthcheck/setVerboseResponse.dwl" />
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Default response payload" doc:id="4571eb94-b980-4000-9d5f-6b9fa5b1fb9e">
					<ee:message>
						<ee:set-payload resource="dwl/healthcheck/setBasicResponse.dwl" />
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="6e91b887-e612-4391-8088-2bf7d272d453" message="#[payload]"/>
	</flow>
</mule>
