oracle_integration/target/classes/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="vems-mule-oracle-sapi-main">
        <http:listener config-ref="vems-mule-oracle-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="vems-mule-oracle-sapi-config" />
        <error-handler ref="api-error-handler" />
    </flow>
    <flow name="post:\supplier:application\json:vems-mule-oracle-sapi-config">
        <flow-ref doc:name="post-supplier-mainFlow" doc:id="acd6a18e-4012-4079-8c6d-70b7c8275329" name="post-supplier-mainFlow" />
    </flow>
    <flow name="get:\supplier\(supplierId):vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="a22e397d-1b3e-4df5-a76d-b810b29d3c9b">
            <ee:variables>
                <ee:set-variable variableName="supplierId"><![CDATA[attributes.uriParams.'supplierId']]></ee:set-variable>
                <ee:set-variable variableName="queryParams"><![CDATA[%dw 2.0
output application/json
---

attributes.queryParams default null]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-supplier-mainFlow" doc:id="ba5fcb28-9b6e-46a2-8eca-aea7a4420019" name="get-supplier-mainFlow" />
    </flow>
    <flow name="put:\supplier\(supplierId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="supplierId"><![CDATA[attributes.uriParams.'supplierId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="put-supplier-mainFlow" doc:id="cdcb9d84-fbb2-4c02-a274-09f76c4f114e" name="put-supplier-mainFlow" />
    </flow>
    <flow name="post:\externalBankAccounts:application\json:vems-mule-oracle-sapi-config">
        <flow-ref doc:name="post-external-bank-account" doc:id="4a89fae9-654d-47d7-8f35-bcee8d815a8e" name="post-external-bank-account-mainFlow" />
    </flow>
    <flow name="get:\externalBankAccounts\(BankAccountId):vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="BankAccountId">attributes.uriParams.'BankAccountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-externalBankAccount-mainFlow" doc:id="80969b5e-c154-4ed8-b299-a9602448ebb6" name="get-externalBankAccount-mainFlow" />
    </flow>
    <flow name="put:\externalBankAccounts\(bankAccountId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="bankAccountId"><![CDATA[attributes.uriParams.'bankAccountId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="put-externalBankAccount-mainFlow" doc:id="b6486fcc-340f-40fb-b3c6-c4b619e58aa9" name="patch-external-bank-account-mainFlow" />
    </flow>
    <flow name="post:\supplier\(supplierId)\addresses:application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="supplierId">
            <ee:variables>
                <ee:set-variable variableName="supplierId"><![CDATA[attributes.uriParams.'supplierId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-supplier-addresses-mainFlow" doc:id="19b21630-415c-4da9-9743-d1e18a0a1fce" name="post-supplier-addresses-mainFlow" />
    </flow>
    <flow name="post:\supplier\(supplierId)\contacts:application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-supplier-contacts" doc:id="d99bff6c-ed13-4ec7-ab2f-89f66f6899c9" name="post-supplier-contacts-mainFlow" />
    </flow>
    <flow name="get:\supplier\(supplierId)\addresses\(addressId):vems-mule-oracle-sapi-config">
        <ee:transform doc:name="supplierId + addressId">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
                <ee:set-variable variableName="addressId">attributes.uriParams.'addressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-supplier-addresses-mainFlow" doc:id="f6cc8163-8dec-4fbb-bfbd-5a077c518936" name="get-supplier-addresses-mainFlow" />
    </flow>
    <flow name="put:\supplier\(supplierId)\addresses\(addressId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="supplierId + addressId">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
                <ee:set-variable variableName="addressId">attributes.uriParams.'addressId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="put-supplier-addresses-mainFlow" doc:id="7faee505-92ad-466b-9d61-352d04047150" name="put-supplier-addresses-mainFlow" />
    </flow>
    <flow name="put:\supplier\(supplierId)\contacts\(contactId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="supplierId + contactId">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
                <ee:set-variable variableName="contactId">attributes.uriParams.'contactId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="put-supplier-contacts-mainFlow" doc:id="d4b730cd-61b8-4230-94af-a02f8641e82a" name="put-supplier-contact-mainFlow" />
    </flow>
    <flow name="get:\supplier\(supplierId)\contacts\(contactId):vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
                <ee:set-variable variableName="contactId">attributes.uriParams.'contactId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  SupplierContactId: 300000002755969,
  SalutationCode: "MR.",
  Salutation: "Mr.",
  FirstName: "Contact",
  MiddleName: "Mid",
  LastName: "Supplie0009",
  JobTitle: "Marketing Manager",
  AdministrativeContactFlag: false,
  PhoneCountryCode: null,
  PhoneAreaCode: null,
  PhoneNumber: "1000009",
  PhoneExtension: null,
  MobileCountryCode: "1",
  MobileAreaCode: "312",
  MobileNumber: "555-8891",
  FaxCountryCode: null,
  FaxAreaCode: null,
  FaxNumber: null,
  Email: "CtSupplie009@xyz.com",
  Status: "ACTIVE",
  InactiveDate: null,
  PersonProfileId: 300000002755969,
  CreationDate: "2023-10-09T22:42:05.292+00:00",
  CreatedBy: "INTUSER",
  LastUpdateDate: "2023-10-09T22:54:34.105+00:00",
  LastUpdatedBy: "INTUSER",
  links: [
    {
      rel: "self",
      href: "https://ibnajb-test.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05/suppliers/300000002755958/child/contacts/300000002755969",
      name: "contacts",
      kind: "item",
      properties: {
        changeIndicator: "ACED0005737200136A6176612E7574696C2E41727261794C6973747881D21D99C7619D03000149000473697A6578700000000A77040000000A737200116A6176612E6C616E672E496E746567657212E2A0A4F781873802000149000576616C7565787200106A6176612E6C616E672E4E756D62657286AC951D0B94E08B0200007870000000047371007E0002000000047371007E0002000000017371007E0002000000017371007E0002000000037372001B6F7261636C652E6A626F2E646F6D61696E2E4E756C6C56616C75655899C1C58DAABEEB02000149000A6D53514C54797065496478700000000C7371007E0002000000017371007E00020000000271007E000A7371007E00020000000178"
      }
    }, 
    {
      rel: "canonical",
      href: "https://ibnajb-test.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05/suppliers/300000002755958/child/contacts/300000002755969",
      name: "contacts",
      kind: "item"
    }, 
    {
      rel: "parent",
      href: "https://ibnajb-test.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05/suppliers/300000002755958",
      name: "suppliers",
      kind: "item"
    }, 
    {
      rel: "lov",
      href: "https://ibnajb-test.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05/suppliers/300000002755958/child/contacts/300000002755969/lov/SalutationLookup",
      name: "SalutationLookup",
      kind: "collection"
    }, 
    {
      rel: "child",
      href: "https://ibnajb-test.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05/suppliers/300000002755958/child/contacts/300000002755969/child/DFF",
      name: "DFF",
      kind: "collection"
    }, 
    {
      rel: "child",
      href: "https://ibnajb-test.fa.ocs.oraclecloud.com:443/fscmRestApi/resources/11.13.18.05/suppliers/300000002755958/child/contacts/300000002755969/child/addresses",
      name: "addresses",
      kind: "collection"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\supplier\(supplierId)\sites\(siteId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
                <ee:set-variable variableName="siteId">attributes.uriParams.'siteId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="put-supplier-sites" doc:id="f57a559f-f13e-4cee-8b7c-c76b9cf1b5c6" name="put-supplier-sites-mainFlow" />
    </flow>
    <flow name="get:\bankInformation:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Get Input Parameters" doc:id="4776b75f-b980-404c-9b1c-929819361cb9">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="iban"><![CDATA[attributes.queryParams.iban]]></ee:set-variable>
                <ee:set-variable variableName="routingNumber"><![CDATA[attributes.queryParams.routingNumber]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-bank-information" doc:id="182f2693-e283-4b14-9858-b85e3f4422d5" name="get-bank-information-mainFlow" />
    </flow>
    <flow name="get:\externalPayee:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Get Input Parameters" doc:id="9e1aa35d-6387-4369-864e-df6aa07ea04c">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="supplierPartyId"><![CDATA[attributes.queryParams.supplierPartyId]]></ee:set-variable>
                <ee:set-variable variableName="supplierSiteId"><![CDATA[attributes.queryParams.supplierSiteId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="get-external-payee" doc:id="4ca3f3e4-6110-4237-965f-042d5890b87d" name="get-external-payee-mainFlow" />
    </flow>
    <flow name="post:\paymentMethod\(payeeId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Get Input parameters" doc:id="ae5f850c-312c-4ac1-9e43-8253f259df76">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payeeId"><![CDATA[attributes.uriParams.payeeId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-payment-method" doc:id="13737f6f-e7ea-474e-9db4-74bf6d1925b9" name="post-payment-method-mainFlow" />
    </flow>
    <flow name="post:\supplier\(supplierId)\sites:application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="supplierId">attributes.uriParams.'supplierId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="post-supplier-sites" doc:id="1279277c-8379-4e59-86ba-67f5c4a7b4f0" name="post-supplier-sites-mainFlow" />
    </flow>
    <flow name="post:\instrumentAssignments:application\json:vems-mule-oracle-sapi-config">
        <flow-ref doc:name="post-instrument-assignments" doc:id="a22dbe31-a78e-4197-861c-98e266a47110" name="post-instrument-assignments-mainFlow" />
    </flow>
    <flow name="put:\paymentMethod\(payeeId)\(externalPaymentMethodId):application\json:vems-mule-oracle-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="payeeId"><![CDATA[attributes.uriParams.'payeeId']]></ee:set-variable>
                <ee:set-variable variableName="externalPaymentMethodId"><![CDATA[attributes.uriParams.'externalPaymentMethodId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="put-payment-method" doc:id="7c7a78b7-65c0-459e-a668-aad6df133f62" name="put-payment-method-mainFlow" />
    </flow>
</mule>
