SystemAPI_SFCoreIntegration/src/main/mule/implementation/account-receivable-operations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="accounts-receivables-update-put" doc:id="2edf170f-2f85-4128-8ec6-ef521436f6af">
		<json-logger:logger doc:name="Logger" doc:id="d439e5a2-37be-4a38-b77d-d443ae04a73e" config-ref="jsonLoggerConfig" message='#["Begin Query"]' />
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="receivedPayload" doc:id="c7bb26e1-3052-43f3-a26f-652a97f89ad8" variableName="receivedPayload" />
		<salesforce:query doc:name="Query Recovery by invoiceId and lineNumber" doc:id="9d62921c-cd84-4a6c-80b6-8d4142e1c35a" config-ref="salesforceConfig">
			<salesforce:salesforce-query><![CDATA[SELECT Id FROM Billing_Item__c WHERE InvoiceID_Formula__c = ':invoiceId' and Line_Number__c = ':lineNumber']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	invoiceId : vars.invoiceId,
	lineNumber : vars.lineNumber
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="" doc:id="7ec10a40-cc0a-473b-8df9-2e8cf8b267b5">
			<when expression="#[!isEmpty(payload)]">
				<set-variable value="#[payload.Id[0]]" doc:name="recordId" doc:id="eaaa768b-c80b-4e5b-b7ec-ae0728212650" variableName="recordId"/>
				<ee:transform doc:name="Transform Message" doc:id="d3c4304c-23ea-4375-83c5-26658ecb73fb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
var fieldMappings = {
    "status": "Status__c",
    "fusionUpdateError": "Fusion_Update_Error__c",
    "fusionErrorMessage": "Fusion_Error_Message__c"
}
---
[(vars."receivedPayload" filterObject (value, key, index) -> value != null and value != "") 
    mapObject ((value, key) -> {
        (fieldMappings[key] default key): value
    }) 
    ++ {"Id": vars."recordId"}]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<salesforce:update type="Billing_Item__c" doc:name="Update Status" doc:id="440453ea-6a6e-4e2c-aed9-ac4f7fd0aeba" config-ref="salesforceConfig" />
				<choice doc:name="Choice" doc:id="ba958087-8631-469b-9c58-dcb679391794">
					<when expression="#[payload.items[0].successful == true]">
						<ee:transform doc:name="Transform Message" doc:id="a1140211-3a1c-4369-ac62-65ba958493b2">
			<ee:message>
				<ee:set-payload><![CDATA[output application/json
---
{
  status: "success",
  message: "Status Updated"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
						<json-logger:logger doc:name="Logger" doc:id="7d915b08-d8b8-4654-be36-843ed2733499" config-ref="jsonLoggerConfig" message='#["End query"]' />
					</when>
					<otherwise>
						<ee:transform doc:name="error payload" doc:id="c49ab759-83d6-4c29-b898-ebf333ef73ce">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errorCode: "UPSERT_URL_UPDATE_ERROR",
	errorMessage: payload.items[0].message,
	transactionId: correlationId,
	timeStamp: now()
	//errDesc: "Upsert failed, invalid input, verify parameters",
	//errType: "VALIDATION:INVALID_INPUT"
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value="400" doc:name="400" doc:id="5c13ef41-1bfc-478e-9679-b161f20e809f" variableName="httpStatus" />
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<ee:transform doc:name="error payload" doc:id="8396d869-cc26-4fdf-be61-8b98aa76e3b0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: "Collection is empty, verify IDs",
	errType: "VALIDATION:EMPTY_COLLECTION",
	transactionId: correlationId,
	timeStamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="404" doc:id="2bbf83a4-2d43-40d3-b13e-ac44e8022330" variableName="httpstatus" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="fe884b51-f273-4db3-89c6-9842201af598" >
				<logger level="ERROR" doc:name="Logger" doc:id="cd892410-aa7b-4d13-9dd2-27a989386dbf" message="#[{&#10;	errMsg: error.errorMessage,&#10;	errDesc: error.description,&#10;	errType: error.errorType.asString&#10;}]" />
				<ee:transform doc:name="Transform Message" doc:id="50689b6e-d36b-4f02-89d9-1aec61affc8a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: error.description,
	errType: error.errorType.asString
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="404" doc:id="1a99cad4-3e45-46eb-8d49-873b834987b7" variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="main-query-billing" doc:id="84c44628-573c-4219-a104-9f0f6b2e111a" >
		<json-logger:logger doc:name="Logger" doc:id="d4451f2d-0fed-443c-a052-7f5970c5e0b3" config-ref="jsonLoggerConfig" message='"Process Begin"' />
		<salesforce:query doc:name="Query" doc:id="3343b4ef-747d-4930-8e6d-fc40029ab9f7" config-ref="salesforceConfig" >
			<salesforce:salesforce-query ><![CDATA[SELECT Id,Name,Vendor__c,Billing_Status__c,Description__c,Amount__c,ESR_UUID__c,Status__c,InvoiceID_Formula__c,Line_Number__c,Original_InvoiceID__c,Contract_ID__c,DistrictID__c,Contract_Option__c,Purchase_Order__c,Regional_Office__c,Case_Number__c,Appointment_UUID__c,Exam_Type__c,Travel_Type__c,CPT_Code__c,CLIN__c,Request_Date__c,Service_Date__c,Appointment_Date__c,Completion_Date__c,Appointment_Location_City__c,Appointment_Location_State__c,Appointment_Location_Zip__c, Financial_Account__c, Region__c, Fusion_Update_Error__c, Fusion_Error_Message__c FROM Billing_Item__c WHERE Status__c = ':status']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
    status : vars.status
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="" doc:id="d4f4895a-64ca-48e8-a4ab-ae907b44acfd">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="ef37c2cd-5e40-412e-be56-7aa9683b1203">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	"id":$.Id,
    "vendor": $.Vendor__c,
    "billingStatus": $.Billing_Status__c,
    "description": $.Description__c,
    "amount": $.Amount__c,
    "ESRUUID": $.ESR_UUID__c,
    "status": $.Status__c,
    "invoiceId": $.InvoiceID_Formula__c,
    "lineNumber": $.Line_Number__c,
    "originalInvoiceID": $.Original_InvoiceID__c,
    "contractID": $.Contract_ID__c,
    "districtID": $.DistrictID__c,
    "contractOption": $.Contract_Option__c,
    "purchaseOrder": $.Purchase_Order__c,
    "regionalOffice": $.Regional_Office__c,
    "caseNumber": $.Case_Number__c,
    "appointmentUUID": $.Appointment_UUID__c,
    "examType": $.Exam_Type__c,
    "travelType": $.Travel_Type__c,
    "cptCode": $.CPT_Code__c,
    "CLIN": $.CLIN__c,
    "requestDate": $.Request_Date__c,
    "serviceDate": $.Service_Date__c,
    "appointmentDate": $.Appointment_Date__c,
    "completionDate": $.Completion_Date__c,
    "appointmentLocationCity": $.Appointment_Location_City__c,
    "appointmentLocationState": $.Appointment_Location_State__c,
    "appointmentLocationZip": $.Appointment_Location_Zip__c,
    "financialAccount": $.Financial_Account__c,
    "region": $.Region__c,
    "name": $.Name,
    "fusionUpdateError": $.Fusion_Update_Error__c,
    "fusionErrorMessage": $.Fusion_Error_Message__c
    
    }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<json-logger:logger doc:name="Logger1" doc:id="2aa42fc6-adb6-4bec-ba79-fe1576e55aee" config-ref="jsonLoggerConfig" message='"End Process"' />
			</when>
			<otherwise>
				<ee:transform doc:name="error payload" doc:id="176d3cf1-8271-4df1-a009-5b62058fba1f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: "Collection is empty, verify parameter",
	errType: "VALIDATION:EMPTY_COLLECTION",
	transactionId: correlationId,
	timeStamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="404" doc:id="2ac95e35-c56c-4e1c-9a07-167a2df2d78b" variableName="httpstatus" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6227b427-de88-4478-84d4-8e706181d1c7" >
				<logger level="ERROR" doc:name="Logger" doc:id="a0c32215-8a5c-451e-aae1-bd229527792d" message="#[{&#10;	errMsg: error.errorMessage,&#10;	errDesc: error.description,&#10;	errType: error.errorType.asString&#10;}]" />
				<ee:transform doc:name="Transform Message" doc:id="9d57791d-23cf-478c-8739-416d0793c6ca" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: error.description,
	errType: error.errorType.asString
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="404" doc:id="206d599a-83ee-44fa-bd53-b008e61f27b5" variableName="httpStatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
