SystemAPI_SFCoreIntegration/src/main/mule/implementation/mera-update-metadata.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="main-mera-recovery-metadata-fromCase" doc:id="a9e20d66-e1ad-4911-9960-e29616609bd5" >
		<json-logger:logger doc:name="Logger" doc:id="c69da0f6-e273-4799-bdda-566b78e84d86" config-ref="jsonLoggerConfig" message='#["Begin Process"]'/>
		<salesforce:query doc:name="Query Case Metadata" doc:id="d68fc1ad-5a41-4147-8265-1d9f94f2acd3" config-ref="salesforceConfig">
			<salesforce:salesforce-query ><![CDATA[Select Name, VES_ESR__r.Exam_Scheduling_Request_Uuid__c, Exam__r.CaseNumber, Exam__r.Status,Exam__r.ReadyForMERA__c, Exam__r.Notification_to_MERA__c, Exam__r.Createddate,Exam__r.Requested_Specialty__c from VES_DBQ__c where Exam__r.ReadyForMERA__c = true AND Exam__r.Notification_to_MERA__c = false AND VES_ESR__r.Exam_Scheduling_Request_Uuid__c <> null AND Exam__c <> null]]></salesforce:salesforce-query>
		</salesforce:query>
		<choice doc:name="" doc:id="b35cc1d9-4d28-4f7e-8f5c-0d74ce233874">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Transform  to JSON Message" doc:id="7db80c8b-b54a-4220-9f75-a622a8221f9b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="f2aefa77-3a8a-430d-803a-6c3c5a8470a8" config-ref="jsonLoggerConfig" message='#["End Process"]'>
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON("The total registry is" ++ " " ++ sizeOf(payload.CaseNumber[0])) 
}]]]></json-logger:content>
		</json-logger:logger>
			</when>
			<otherwise>
				<ee:transform doc:name="error payload" doc:id="ea064c39-91eb-4647-b939-38e5da644ba9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: "Collection is empty",
	errType: "VALIDATION:EMPTY_COLLECTION",
	transactionId: correlationId,
	timeStamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="404" doc:id="22ebe338-284a-4379-8e39-52b44f712f98" variableName="httpstatus" />
			</otherwise>
		</choice>
	</flow>
	<flow name="main-mera-update-notification-inCase" doc:id="21f080cc-b807-4392-8e28-1bde497235df" >
		<json-logger:logger doc:name="Logger" doc:id="dc0e2f72-df9e-4f12-ad8d-f7d152ae1670" config-ref="jsonLoggerConfig" message='#["Begin Process"]'/>
		<ee:transform doc:name="Transform to Java Payload" doc:id="becc3e15-4296-4647-9140-eeabfbec4ea9">

			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<set-variable value="#[payload[0].id]" doc:name="di" doc:id="1f7cd102-f3e6-49d6-9f26-b1416adfdc8a" variableName="id"/>
		<salesforce:update doc:name="Update case notification" doc:id="92fb6a52-347b-4563-9687-69cb17c1aef4" config-ref="salesforceConfig" type="Case" target="notificationUpdate"/>
		<choice doc:name="Choice" doc:id="65595728-aa1c-4103-b5e0-cad04a0a6d53">
			<when expression="#[vars.notificationUpdate.items[0].successful == true]">
				<json-logger:logger doc:name="Logger" doc:id="91933374-c9a4-4c86-af66-103ba1a4554b" config-ref="jsonLoggerConfig" message='#["End Process"]' />

				<ee:transform doc:name="Transform Message" doc:id="b2d2d7ae-7372-4e90-b8fe-a322e642bc22">

			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	message: "Case notification has been updated successfully",
	id: vars.notificationUpdate.items[0].id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>

				<json-logger:logger doc:name="Logger" doc:id="b42a5e77-b1c6-4280-b4eb-4062304ae72c" config-ref="jsonLoggerConfig" message='#["INVALID INPUT "]' >
					<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    ID: JSONLoggerModule::stringifyNonJSON(vars.id) 
}]]]></json-logger:content>
				</json-logger:logger>
				<ee:transform doc:name="error payload" doc:id="aab18466-4fd8-4f18-897f-fa177509e4e5">

					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{

	errorCode: "UPDATE_ERROR_INVALID_INPUT",
	errorMessage: vars.notificationUpdate.items[0].message,
	transactionId: correlationId,
	timeStamp: now()
	//errDesc: "Update failed, invalid input, verify parameters",
	//errType: "VALIDATION:INVALID_INPUT"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="400" doc:id="8dd2573c-3c41-4dee-9eb7-08ff6462a750" variableName="httpStatus" />
			</otherwise>
		</choice>

	</flow>
	<flow name="main-mera-recovery-id-fromCase" doc:id="77a1f69c-0a4f-4834-9d67-b20dbcb5d5d2" >
		<json-logger:logger doc:name="Logger" doc:id="9e0a5a97-1f90-4d3d-b63a-9929eee46743" config-ref="jsonLoggerConfig" message='#["Begin Process"]' />
		<salesforce:query doc:name="Query for case Id" doc:id="70d714c0-e4d7-4074-adc0-5d9f83d38276" config-ref="salesforceConfig" >
			<salesforce:salesforce-query ><![CDATA[Select Id from Case  where CaseNumber = ':caseNumber']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	caseNumber : vars.caseNumber
}]]]></salesforce:parameters>
		</salesforce:query>
		<choice doc:name="" doc:id="e7469de2-5915-4503-aec1-ebb5a611c8a0">
			<when expression="#[!isEmpty(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="187682d0-627a-4f14-ae15-be8d98d96ab3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<json-logger:logger doc:name="Logger1" doc:id="d75937c9-4e7a-40a1-860a-99af7c389698" config-ref="jsonLoggerConfig" message='#["End Process"]'>
			<json-logger:content><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON("The total registry is" ++ " " ++ sizeOf(payload.Id[0])) 
}]]]></json-logger:content>
		</json-logger:logger>
			</when>
			<otherwise>
				<ee:transform doc:name="error payload" doc:id="2c32dc53-966a-4a9d-8fce-10f17436aba5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: "Collection is empty, verify IDs",
	errType: "VALIDATION:EMPTY_COLLECTION",
	transactionId: correlationId,
	timeStamp: now()
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="404" doc:name="404" doc:id="7f4fc0df-ce15-4125-9158-df851b782e6d" variableName="httpstatus" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="On Error Propagate" doc:id="a6616163-d3aa-4e4f-acf9-2b92df68a34b" >
				<ee:transform doc:name="error payload" doc:id="1ea1d42d-2389-4aa6-b058-70fda1b218a6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	errDesc: error.description,
	errType: error.errorType.asString
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="400" doc:id="08561f0e-002d-404f-a4d9-185753713c57" variableName="httpstatus" />
			</on-error-propagate>
		</error-handler>
	</flow>
	
	</mule>
