SystemAPI_SFCoreIntegration/target/classes/z.test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="z.testFlow" doc:id="9537a97e-71d0-4f44-a22b-96a39f1f436a" >
		<http:listener doc:name="Listener" doc:id="aedc22fe-ae1c-4118-956a-5f828e3df5db" config-ref="apiHttpListenerConfig" path="/myTest"/>
		<flow-ref doc:name="getSalesforceToken" doc:id="7b32d35a-33fa-48c0-9fc7-b7ed2f8ae1fd" name="getSalesforceToken" target="sfToken" />
		<http:request method="POST" doc:name="Request SF Core Rest API" doc:id="4597bf71-1b9d-447d-b659-f54d28f7fe0c" config-ref="HTTP_Request_configuration_SFCore_RestApi" path="/services/data/v53.0/composite/graph">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.sfToken
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="08998224-9888-46a4-948b-6dc5c3230843" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
